#friends-display-link {
  text-align: center;
  display: block;
  font-size: 13px;
  font-weight: 600;
  background-color: #fafafa;
  margin-bottom: 10px;
  padding: 11px 0px;
}
#friends-display-link i {
  color: rgba(0, 0, 0, 0.2);
}
#friends-display-link i:last-child {
  margin-left: 5px;
}

.friends-screen {
  padding: 0px var(--horizontal-space);
}
