.main__settings {
  margin-top: 85px;
}
.settings__setting {
  padding: 17px 5px;
  border-bottom: 0.1px solid rgb(247, 247, 247);
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings__setting--1st {
  margin-top: 13px;
  padding: 25px 5px 17px 5px;
}
.settings__setting--last {
  margin-bottom: 13px;
  padding: 17px 5px 25px 5px;
  border-bottom: none;
}
.settings__setting i {
  width: 16px;
  margin-right: 12px;
}
.settings__setting-column:last-child {
  opacity: 0.5;
}
.div-line {
  border: 0.1px solid rgb(235, 235, 235);
  margin: 0px -18px;
}
