.alt-header {
  z-index: 9;
  background: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 45px 0px 23px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alt-header__column {
  width: 33%;
}
.alt-header__column:first-child {
  margin-left: var(--horizontal-space);
}
.alt-header__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
.alt-header__column:last-child {
  margin-right: var(--horizontal-space);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.alt-header__column .fa-bars {
  margin-left: 16px;
}
.alt-header__title {
  font-weight: 600;
  font-size: 18px;
}
