.badge {
  background-color: tomato;
  padding-top: 1px;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5px;
  font-weight: 600;
  color: white;
}
.red-point {
  background-color: tomato;
  width: 4px;
  height: 4px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 24px;
  bottom: 20px;
}
.red-point--lg {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 26px;
  bottom: 22px;
}
