.icon-row {
  display: flex;
  justify-content: space-between;
  margin: 15px 36px;
}
.icon-row__icon {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-row__icon i {
  position: absolute;
  font-size: 24px;
}
.icon-row span {
  position: absolute;
  width: 93px;
  top: 20px;
  text-align: center;
  font-size: 13px;
}
